#if($StringUtils.isNotBlank($tablesConfig.voPackageName))
package $tablesConfig.voPackageName;

#end
#set($useLombok = $tablesConfig.isUseLombok())
#set($useSwaggerUI = $tablesConfig.isUseSwaggerUIComment())
#set($serializable = $tablesConfig.isSerializable())
#if($useLombok)
import lombok.Data;
#end
#if($useSwaggerUI)
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
#end
import com.fasterxml.jackson.databind.PropertyNamingStrategies;
import com.fasterxml.jackson.databind.annotation.JsonNaming;


#if($useLombok)
@Data
#end
#if($useSwaggerUI)
@ApiModel("$LocaleContextHolder.format("controller_save") $table.tableComment")
#end
@JsonNaming(PropertyNamingStrategies.SnakeCaseStrategy.class)
public class ${table.entityName}${tablesConfig.voSuffixName} #if($serializable) implements java.io.Serializable #end {
    #if($serializable)
    private static final long serialVersionUID = 1L;

    #end
    #foreach($column in $table.columns)
        #if($tablesConfig.isUseFieldComment() && !$column.columnComment.isEmpty())

        /**
        * $column.getColumnComment()
        */
        #end
        #if($column.isNotBlank())
        @NotBlank(message = "$column.fieldName can not blank")
        #end
        #if($column.isNotEmpty())
        @NotEmpty(message = "$column.fieldName can not empty")
        #end
        #if($useSwaggerUI && !$column.columnComment.isEmpty())
        @ApiModelProperty("$column.columnComment")
        #end
        private $column.javaDataType.name $column.fieldName;

    #end


}
