#if(!$package.isEmpty())
package $package;

#end
#if(!$tablesConfig.repositoryPackageName.isEmpty())
import ${tablesConfig.repositoryPackageName}.${table.repositoryName};
#end
#if(!$tablesConfig.entityPackageName.isEmpty())
import ${tablesConfig.entityPackageName}.${table.entityName};
#end
#if(!$tablesConfig.voPackageName.isEmpty())
import ${tablesConfig.voPackageName}.${entitySimpleName}${tablesConfig.voSuffixName};
import ${tablesConfig.voPackageName}.${entitySimpleName}Update${tablesConfig.voSuffixName};
import ${tablesConfig.voPackageName}.${entitySimpleName}Query${tablesConfig.voSuffixName};
#end
#if(!$tablesConfig.dtoPackageName.isEmpty())
import ${tablesConfig.dtoPackageName}.${entitySimpleName}${tablesConfig.dtoSuffixName};
#end
import org.springframework.beans.BeanUtils;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import org.springframework.data.domain.*;
import org.springframework.data.jpa.domain.Specification;
import org.springframework.stereotype.Service;
import java.util.*;
import jakarta.persistence.criteria.Predicate;

@Service
public class ${simpleName} {

    @Autowired
    private $repositoryName $repositoryVariableName;

    public $primaryKeyDataType save$entitySimpleName(${entitySimpleName}${tablesConfig.voSuffixName} ${tablesConfig.voSuffixVariableName}) {
        ${entitySimpleName} bean = new ${entitySimpleName}();
        BeanUtils.copyProperties(${tablesConfig.voSuffixVariableName}, bean);
        bean = ${repositoryVariableName}.save(bean);
        return bean.${table.primaryColumn.getterMethodName}();
    }

    public void delete$entitySimpleName($primaryKeyDataType id) {
        ${repositoryVariableName}.deleteById(id);
    }

    public void update$entitySimpleName($primaryKeyDataType id, ${entitySimpleName}Update${tablesConfig.voSuffixName} ${tablesConfig.voSuffixVariableName}) {
        $entitySimpleName bean = requireOne$entitySimpleName(id);
        BeanUtils.copyProperties(${tablesConfig.voSuffixVariableName}, bean);
        ${repositoryVariableName}.save(bean);
    }

    public ${entitySimpleName} get${entitySimpleName}ById($primaryKeyDataType id) {
        return requireOne$entitySimpleName(id);
    }

    public Page<${entitySimpleName}> query$entitySimpleName(${entitySimpleName}Query${tablesConfig.voSuffixName} ${tablesConfig.voSuffixVariableName}) {
        Specification<${entitySimpleName}> specification = (root, query, cb) -> {
        List<Predicate> predicatesList = new LinkedList<>();
            // if (!Objects.isNull(planType)) {
            //     Predicate planTypeP = cb.equal(root.get("planType"), planType);
            //     predicatesList.add(planTypeP);
            // }
            // if (StringUtils.isNotBlank(createBy)) {
            //     Expression<String> exp = root.get("createBy");
            //     predicatesList.add(exp.in(Arrays.asList(createBy.split(","))));
            // }
            // if (StringUtils.isNotBlank(planStatus)) {
            //     Expression<Integer> exp = root.get("planStatus");
            //     List<Integer> list = Arrays.stream(planStatus.split(",")).map(Integer::parseInt).collect(Collectors.toList());
            //     predicatesList.add(exp.in(list));
            // }
            return cb.and(predicatesList.toArray(new Predicate[predicatesList.size()]));
        };
        int page = Objects.isNull(vO.getPage()) ? 1 : vO.getPage();
        int size = !Objects.isNull(vO.getSize()) ? 50 : vO.getSize();
        return ${repositoryVariableName}.findAll(specification, PageRequest.of(page - 1, size, Sort.by(Sort.Direction.DESC, "id")));
    }


    private ${entitySimpleName}${tablesConfig.dtoSuffixName} to${tablesConfig.dtoSuffixName}(${entitySimpleName} original) {
        ${entitySimpleName}${tablesConfig.dtoSuffixName} bean = new ${entitySimpleName}${tablesConfig.dtoSuffixName}();
        BeanUtils.copyProperties(original, bean);
        return bean;
    }

    private ${entitySimpleName} requireOne$entitySimpleName($primaryKeyDataType id) {
        return ${repositoryVariableName}.findById(id)
            .orElseThrow(() -> new java.util.NoSuchElementException("Resource not found: " + id));
    }
}
